* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #fff;
  text-align: center;
}

/* NAVBAR */
nav {
  background-color: #212121;
  padding: 15px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-size: 16px;
}

/* MAIN CONTAINER */
.canvas {
  margin-top: 50px;
}

h1 {
  margin-bottom: 30px;
}

/* COLOR BUTTONS */
.colors {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

.button {
  width: 100px;
  height: 100px;
  border: 2px solid #212121;
  cursor: pointer;
}

/* INDIVIDUAL COLORS */
#grey {
  background-color: grey;
}

#white {
  background-color: white;
}

#blue {
  background-color: blue;
}

#yellow {
  background-color: yellow;
}

/* TEXT */
h2 {
  font-size: 18px;
  font-weight: bold;
}

h2 span {
  display: block;
  margin-top: 10px;
}
